html {
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	background-color: #FFF8F3;
	margin: 0;
	color: #000;
	font-family: 'Comfortaa';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2; 
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1180px;
	margin: 0 auto;
}
.main{
	overflow-x: clip;
}

.section__inner{
	display: grid;
	margin-bottom: 230px;
	grid-template-columns: 370px auto;
	position: relative;
}

.section__title{
	font-size: 40px;
	font-family: 'YesevaOne';
	margin-bottom: 15px;
	color: #000;
	margin-top: 0;
}
.section__text{
	font-size: 14px;
	font-family: 'Comfortaa';
	color: #000;
	margin-bottom: 0;
	margin-top: 0;
}
.course__content, .steps__list, .products__content{
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
}
.section__content{
	position: relative;
}
.section__content::before{
	content:'';
	position: absolute;
	background-image: url(../images/about-4.png);
	width: 24px;
	height: 33px;
	left: 0px;
	bottom: -82px;
	
}
.section__content::after{
	content:'';
	position: absolute;
	background-color: #7B6152;
	width: 120%;
	height: 1px;
	left: 20px;
	bottom: -69px;
	
}
button{
	border: none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
}
.menu__btn{
	display: none;
	width: 30px;
	height: 25px;
	background-color: transparent;
	flex-direction: column;
	justify-content: space-between;
}

.menu__btn span {
	height: 1px;
	background-color: #7B6152;
	width: 100%;
}
.main__btn{
	background-color: #FFBD59;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
}

ul {
	list-style: none;
}

.header__inner{
	padding-top: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list{
	display: flex;
	gap: 20px;
	list-style: none;

}

.menu__list-link{

	text-transform: uppercase;
}

.phone{
	position: relative;
}

.phone::before{
	content:'';
	background-image: url(../images/phone.svg);
	width: 20px;
	height: 20px;
	left: -23px;
	top: -3px;
	position: absolute;
}
.top{
	padding: 40px 0 150px;
}
.top__inner{
	position: relative;
}
.top__content{
	width: 370px;
	padding: 165px 0 250px;
}
.top__title{
	font-size: 30px;
	font-family: 'YesevaOne';
	margin-bottom: 15px;
	margin-top: 0;
}
.top__text{
	margin-bottom: 48px;
}
.top__buy{
	width: 150px;
	height: 55px;
}
.top__img{
	position: absolute;
	top: 0;
	left: 240px;
}

.about{
	background-color: #A5978E;
	margin-bottom: 150px;
}
.about__inner{
	display: flex;
	padding: 50px 0 110px;
}
.about__content{
	margin-top: 65px;
	min-width: 370px;
	color: #FAFAFA;
}
.about__title{
	font-size: 40px;
	font-family: 'YesevaOne';
	margin-bottom: 15px;
	color: #FAFAFA;
	margin-top: 0;
}
.about__text1 .about__text2{
	font-size: 14px;
	font-family: 'Comfortaa';
	color: #FAFAFA;
}
.about__text1 {
	margin-bottom: 15px;
}
.about__list{
	display: flex;
	gap: 20px;
	position: relative;
	padding-left: 110px;
	align-items: center;
	margin: 0;
}
.about__list::before{
	content:'';
	position: absolute;
	background-image: url(../images/about-4.png);
	width: 24px;
	height: 33px;
	left: 0;
	bottom: -70px;
	
}
.about__list::after{
	content:'';
	position: absolute;
	background-color: #7B6152;
	width: 100%;
	height: 1px;
	left: 20px;
	bottom: -53px;
	
}
.about__item-text{
	font-size: 11px;
	font-family: 'Comfortaa';
	color: #FAFAFA;
	margin: 7px 0 0;
}
.about__text2{
	margin-bottom: 0;
}

.products__content{
	gap: 50px 90px;
}
.product__items{
	max-width: 290px;
	text-align: center;
	margin: 0 auto; 	
}
.product__item-price, .product__item-title{
	font-size: 16px;
	font-family: 'YesevaOne';
	margin-top: 8px;

}
.product__item-price{
	margin-bottom: 12px;
}
.product__item-title{
	margin-bottom: 16px;
}
.product__item-info{
	font-size: 12px;
	font-family: 'Comfortaa';
	margin-bottom: 27px;
}	
.product__btn{
	width: 150px;
	height: 52px;
}

.steps__list{
	gap: 70px 25px;
	margin: 0;
	padding: 0;
	counter-reset: number;
	padding-left: 10px;
}

.steps__item{
	display: flex;
	gap: 40px;
	list-style-type:none;
	position: relative;

}
.steps__item::before{
	counter-increment: number;
	content: '0'counter(number);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #BEA495;
	font-size: 30px;
	font-family: 'YesevaOne';
}
.steps__item.steps__item--even::before{
	left: auto;
	right: 0;
}
.steps__item:nth-child(n+10)::before{
	content: counter(number);
}

.steps__item-text{
	font-size: 14px;
	margin: 0;
}

.course .product__btn {
  width: 130px;
  height: 42px;
}
.course .product__item-title{
 margin-top: 28px;
 margin-bottom: 15px;
}
.course .product__item-info{
 margin-bottom: 23px;
}
.img__wrapper{
	position: relative;
}
.img__wrapper-title, .img__wrapper-text, .img__wrapper-price{
	position: absolute; 
	background-color: #BEA495; 
	color: #FFF;
    font-family: 'YesevaOne';
    font-size: 11px;
    left: 11px;
      text-align: left;
  padding-left: 20px;
  z-index: 5;
}

.img__wrapper-title{
	width: 191px;
	height: 43px;
	top: 157px;
	padding-top: 14px;
}
 .img__wrapper-text{
 	width: 129px;
 	height: 27px;
 	top: 215px;
 	padding-top: 6px;
 }
  .img__wrapper-text::before{
  	position: absolute;
 	content: ' - 20 год';
 	font-family: 'Comfortaa';
font-size: 10px;
right: 20px; 
 }
.img__wrapper-price{
	width: 86px;
	height: 50px;
	left: auto;
	bottom: -19px;
	right: 0;
	padding-top: 17px;
}

.team {
	background-color: #A5978E;
	padding: 60px 0  80px;
	margin-bottom: 150px;
}
.team__descr .section__title, .team__descr .section__text {
	color: #fff;
}
.team__content{
	display: grid;
	grid-template-columns: auto auto;
	gap: 75px;
}
 
.team .section__inner {
  gap: 40px;
}

.team__content-item{
	position: relative;
}
.team__content-name{
font-family: 'YesevaOne';
font-size: 13px; 
margin: 0 0 3px ;
}
.team__content-text{
	font-family: 'Comfortaa';
font-size: 11px; 
margin: 0;
}
.team__content-info{
	width: 162px;
	height: 70px;
	position: absolute;
	bottom: 8px;
	right: 5px;
	text-align: center;
	background-color: #7B6152;
color: #fff;
padding: 10px 10px 15px;
}
.team .section__inner{
	margin-bottom: 0;
}

 .certification__slider, .feedback__slider{
	max-width: 780px;
	overflow: hidden;
}

.feedback__item{
	display: grid;
	grid-template-columns: auto auto;
	gap: 16px;
}
.feedback__item-video{
	position: relative;
}
.feedback__item-videobtn{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
}
.feedback__item-content{
	padding-top: 56px;
}
.feedback__item-sociallink img{
	width: 25px;
}
.feedback__item-name{
	margin-top: 12px;
	margin-bottom: 15px;
	font-size: 16px;
	font-family: YesevaOne; 
}
.feedback__item-text{
	margin-bottom: 15px;
}
.feedback__item-btn{
	width: 216px;
	height: 56px;
	margin-left: 160px;
	margin-top: 48px;
}
.mod-content{
	padding-bottom: 50px;
}
.feedback__content .swiper-pagination{
	bottom: 0;  
}

.swiper-pagination-bullet {
	background-color: #BEA495;
	width: 53px;
	height: 4px;
	border-radius: 0;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #7B6152;
}

.mod-content.section__content::before{
		bottom: -63px;

	}
.mod-content.section__content::after{
		bottom: -50px;
	}

.certification__slider{
	max-width: 1135px;
}
.promo{
	background-image: url(../images/promo-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.promo__inner{
	padding: 130px 0 155px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.promo__text{
	font-family: 'YesevaOne';
font-size: 40px; 
color: #fff;
margin: 0;
}
.promo__btn{
	width: 170px;
height: 50px; 
margin-left: 110px;
}

.contacts{
padding: 150px 0 50px;
}
.form{
	background-color: #fff;
	width: 664px;
		padding: 75px 42px 67px;
	margin-right: 10px;
}
.contacts__inner{
	display: flex;
justify-content: space-between;
align-items: center;
}


.form__title{
	font-family: 'YesevaOne';
	font-size: 40px;
	 margin-bottom: 60px;
	 font-weight: 600;
}

.form__btn{
	width: 170px;
	height: 50px;
	margin-top: 50px;
}

.form__input{
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #000;
	width: 100%;
	display: block;
	margin-bottom: 52px;
	color: #000;
	padding: 7px 10px;
	margin-bottom: 15px;

}	

.form__input::placeholder{
	color: #B3B3B3; 
font-family: 'Comfortaa';
font-size: 14px;
font-style: normal;
font-weight: 400;
 
}




.footer{
	padding-top: 40px;
	padding-bottom: 35px;
	background-color: #fff;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__contacts{
	display: flex;
	flex-direction: column;
	width: 230px;
}

.email{
	margin: 17px 0;
}

.footer__social{
	display: flex;
	gap: 15px;
	margin: 0;
	padding-left: 0;
}

.footer__social-img{
	width: 22px;
	height: 22px;
}

.section__inner{
		gap: 30px;
	}












@media (max-width: 1250px){
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
	.top__img-l {
		width: 950px;
	}

	.products__content {
		gap: 67px;
	}
	.products .section__text {
		font-size: 10px;
	}
	.team__content {

  gap: 25px 15px;
}

}
@media (max-width: 1000px){
	.container{
		max-width: 960px;
	}
	.section__inner{
		grid-template-columns: 300px auto;
	}
.feedback .section__inner, .certification .section__inner{
		grid-template-columns: 260px auto;
	}

	.top__content{
		width: 333px;
		padding: 80px 0;
	}
	.top__img{
		left: 300px;
	}
	.top__img-l {
		width: 655px;
	}
	.top__text{
		width: 300px;
		margin-bottom: 30px;
	}
	.about__content{
		min-width: 300px;
	}
	.about__list{
		padding-left: 20px;
	}

	.products .section__inner{
		margin-bottom: 210px;
	}
	
	.products__content {
		gap: 30px 16px;

	}

	.product__item-price, .product__item-title{
		font-size: 12px;
		margin-top: 6px;

	}
	.product__item-price{
		margin-bottom: 7px;
	}
	.product__item-title{
		margin-bottom: 9px;
	}
	.product__item-info{
		font-size: 8px;
		margin-bottom: 19px;
	}	
	.product__btn{
		width: 103px;
		height: 35px;
		font-size: 12px;
	}
	.steps__item-img{
		width: 128px;
		height: 225px; 
	}
	.steps__item {
		gap: 30px;
	}
	.steps__list {
		gap: 37px 35px;
	}
	.team__content {
  gap: 30px 20px;
}
.team .section__inner {
  gap: 20px;
}
.team__content-info {
  right: -7px;
}
.team__content-img{
	width: 222px;
}
.feedback__item {
  gap: 10px;
}
.feedback__item-text{
	max-width: 264px;
}
.feedback__item-btn {
  margin-left: 47px;
  margin-top: 2px;
}
.feedback__slider {
  max-width: 670px;
}
.certification__item-img{
	width: 280px;
}
.mod-content {
  padding-bottom: 30px;
}
.certification__slider {
  max-width: 863px;
}
.form {
	width: 592px;
	padding: 75px 21px 77px;

}
.form__img{
	width: 325px;
}
.contacts__inner{
	padding: 0;
}
.promo__text {
  max-width: 553px;
}
}


@media (max-width: 950px){
	.footer__inner{
		flex-wrap: wrap;
	}
	.section__title {
		font-size: 15px;
	}
	
	.footer__menu{
		margin-right: 1%;
	}
	.footer__contacts{
		width: 100%;
		text-align: center;
		padding-top: 15px;
	}

	.footer__social {
		justify-content: center;
	}
	.section__inner {
  grid-template-columns: 200px auto;
	}
	.steps__item-img{
		width: 85px;
		height: 150px; 
	}
	.steps__item-text{
		font-size: 8px;
	}
	.steps__item{
		gap: 20px;
	}
	.steps__item::before{
font-size: 20px;
}
.section__text{
	font-size: 10px;
}
.steps__list {
		gap: 25px 35px;
	}
.feedback .section__inner, .certification .section__inner {
  grid-template-columns: 200px auto;
}

.feedback__item-text {
  max-width: 209px;
}
.feedback__item-img{
	width: 200px;
}
.feedback__item-videobtn img{
	width: 50px;
}
.feedback__item-sociallink img{
	width: 15px;
}
.feedback__item-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.feedback__item-text {
 font-size: 10px;
}
.feedback__item-content {
  padding-top: 0;
}
.swiper-pagination-bullet {
  width: 28px;
 
}

.feedback__item-btn {
  width: 125px;
  height: 40px;
  font-size: 8px;
}
.feedback .mod-content{
	  max-width: 420px;
}
.feedback__item-btn {
  margin-left: 81px;
  margin-top: 0px;
}
.feedback__content .swiper-pagination {
  bottom: 25px;
}
.feedback__item-videobtn {
  top: 45%;
}
.certification__item-img {
  width: 200px;
}
.certification .mod-content {
  max-width: 610px;
}
}

@media (max-width: 830px){

	body{
		font-size: 10px;
	} 
	.phone::before{
		width: 14px;
		height: 14px;
		background-size: cover;
		left: -17px;
	}
	.product__img{
		width: 200px;
	}	
	.course .product__img{

	}
	.product__items{
	max-width: 200px;
	; 
}
	.img__wrapper-title {
  width: 140px;
  height: 30px;
  top: 117px;
  padding-top: 10px;
}
.img__wrapper-title, .img__wrapper-text, .img__wrapper-price {
  font-size: 10px;
  left: 0;
  padding-left: 5px;
}
.img__wrapper-price {
  width: 53px;
  height: 36px;
  left: auto;
  bottom: -19px;
  right: -10px;
  padding-top: 12px;
}
.img__wrapper-text {
  width: 100px;
  height: 24px;
  top: 160px;
  padding-top: 4px;
}
.img__wrapper-text::before {
  font-size: 9px;
  right: 16px;
  top: 6px;
}
.contacts__inner{
		max-width: 640px;

}
.form {
	width: 440px;
	padding: 17px 21px;
	margin-right: 10px;
}
.form__title{
	font-size: 15px;
	margin-bottom: 20px;
}
.form__input{
	padding: 5px 7px;
}
.form__input::placeholder{
	font-size: 8px;

}
.form__img{
	width: 187px;
}
.form__btn{
	margin-top: 30px;
}
.promo__text {
  max-width: 270px;
  font-size: 15px;
}
.promo__inner{
	padding: 65px 0;
}
.promo__btn {
	width: 125px;
	height: 40px;
	font-size: 12px;
	margin-left: 178px;
}
}
@media (max-width: 770px){

	.container{
		max-width: 640px;
	}
	.menu__list-header{
		padding: 0;
	}
	.top__content{
		width: 236px;
		padding: 90px 0 120px;
	}
	.top__title{
		font-size: 20px;
		margin-bottom: 20px;
	}
	.top__text{
		width: 230px;
		font-size: 10px;
		margin-bottom: 20px;
	}
	.top__buy{
		width: 120px;
		height: 45px;
	}
	.top__img-l {
		width: 655px;
	}
	.top__img{
		left: 180px;
	}
	.about__content{
		min-width: 200px;
		margin-top: 0;
	}
	.about__title{
		font-size: 15px;
		margin-bottom: 20px;
	}
	
	.about__item-img{
		width: 120px;
		height: 120px;
	}
	.about__item-imgMidl{
		width: 190px;
		height: 195px;
	}
	.about__item-text{
		font-size: 6px;
		margin-top: 0;
	}
	.about__list{
		padding-left: 50px;
		gap: 10px;
	}
	.about__list::before{
		bottom: -31px;
		left: 30px;

	}
	.about__list::after{
		left: 50px;
		bottom: -15px;
		
	}
	.course .section__inner {
  gap: 10px;
}
.course__content{
	gap: 30px;
}
.team__content-item img{
	width: 140px;
height: 100%; 
}
.team__content {
  gap: 30px 35px;
}
.team__content-info {
  width: 106px;
  height: 50px;
  padding: 10px 5px;
  right: -15px;
  bottom: 5px;
}
.team__content-name {
  font-size: 8px;
  margin: 0 0 5px;
}
.team__content-text {
  font-size: 6px;
}

}




@media (max-width: 660px){
	
	.header__menu-list{
		width: 153px;
		background-color: #7B6152;
		color: #FFF8F3;
		flex-direction: column;
		gap: 20px 0;
		padding: 25px 35px 25px 45px;
		position: absolute;
		left: 0;
		top: 0;
		transform: translateY(-110%);
		transition: transform .5s ease;
		margin: 0;
		z-index: 5;
	}

	.header__menu-list.menu--open{
		top: 0;
		transform: translateY(0);
	}

	.header__menu-list .menu__list-item{
		padding: 0;
	}

	.header__menu{
		order: 1;
	}

	.footer__menu-list .menu__list-item{
		padding-top: 0;
		padding-bottom: 22px;
	}

	.menu__list-item:last-child {
		padding-bottom: 0;
	}

	.menu__btn{
		display: flex;
	}

	.header .logo__img{
		margin-left: 10px;
	}

	.footer { 
		padding: 50px 0;
		font-size: 14px;		
	}
	.footer__inner{
		flex-direction: column;
	}

	.footer__menu{
		padding: 50px 0;
	}

	.footer__menu-list{
		display: contents;
		text-align: center;
	}

	.footer__contacts{
		padding-top: 0;
	}
	.section__inner{
		display: block;
	}
	.section__descr{
		text-align: center;
		margin-bottom: 30px;

	}
	.section__text{
		max-width: 300px;
		margin: 0 auto;

	}
	.about{
		margin-bottom: 50px;
	}
	.section__content::before{
		left: 0px;
		bottom: -50px;

	}
	.section__content::after{
		bottom: -40px;
		left: 21px;
	}
	.products__content{
		padding: 0 15px;
	}
	.steps .section__text {
  font-size: 8px;
}
.section__inner {
  margin-bottom: 209px;
 
}
.team {
  padding: 50px;
}
.team__content {
  grid-template-columns: 210px 210px;
justify-content: center;
}
.feedback .mod-content {
  margin: 0 auto;
}
.team {
  margin-bottom: 50px;
}
.feedback .section__inner, .certification .section__inner {
  margin-bottom: 140px;
}
.certification__slider {
  max-width: 636px;
}
}


@media (max-width: 480px){
	.container{
		max-width: 460px;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}
	.top__inner{
		padding: 4px 10px 0;
		max-width: 460px;
	}
	.top{
		padding-bottom: 0;
	}
	.top__content{
		width: 170px;
		padding: 70px 0 130px;
	}
	.top__title{
		font-size: 15px;
	}
	.top__text{
		width: 167px;
		font-size: 8px;
	}
	.top__buy{
		width: 90px;
		height: 35px;
	}
	.top__img-l {
		width: 309px;
		height: 309px;
	}
	.top__img{
		left: 167px;
	}
	.top__buy{
		font-size: 10px;
	}
	.about__inner{
		padding-bottom: 50px;
	}
	.about__content{
		min-width: 172px;
	}
	.about__list{
		gap: 5px;
		align-items: baseline;
		padding-left: 17px;
		margin-top: 20px;
	}
	.about__item-text{
		display: none;
	}
	.about__item-img{
		width: 80px;
		height: 80px;
	}
	.about__item-imgMidl{
		width: 140px;
		height: 140px;
	}
	.about__text1{
		margin-bottom: 0;
	}
	.about__list::before {
		bottom: -6px;
		left: 5px;
	}
	.about__list::after {
		left: 25px;
		bottom: 7px;
	}
	.section__inner{
		margin-bottom: 110px;
	}
	.section__descr{
		margin-bottom: 25px;

	}
	.section__title{
		margin-bottom: 10px;
	}
	.products .section__inner {
 	 margin-bottom: 110px;
}
	.product__items, .product__items img{
		position: relative;
	}
	.course .product__items, .product__items img {
  max-width: 200px;
 
}
.products__content{
		gap: 40px 7px;
	}
	.section__content::before{
		left: 0px;
		bottom: -50px;

	}
	.section__text {
		font-size: 8px;
	}
	.section__content::after{
		bottom: -40px;
		left: 21px;
	}
	.product__item-price{
		font-size: 10px;
		margin: 5px 0;
	}
	.product__item-title{
		font-size: 10px;
		margin-bottom: 7px;
	}
	.product__item-info{
		font-size: 6px;
		margin-bottom: 40px;
	}
	.product__btn{
		width: 77px;
		height: 30px;
		font-size: 8px;
		position: absolute;
		bottom: 0;
		left: 25%;
	}
	.steps__list {
		gap: 25px 40px;
	}
		.course .product__items {
  padding-bottom: 30px;
}
.course .product__btn {
  width: 115px;
  height: 39px;
  left: 20%;
}
.team__content-info {
  right: 5px;
}
.certification__slider {
  max-width: 415px;
  margin: 0 auto; 
}

.certification__item{
	width: 200px;
}
.certification .swiper-slide{
	width: 200px;
} 
.contacts {
  padding: 50px 0;
}
.form {
max-width: 440px;
	padding: 30px 21px;
	margin: 0 auto;
}

.form__input{
	padding: 15px 7px;
}

.form__img{
	display: none;
}
.form__btn{
	width: 85px;
	font-size: 8px;
}
.promo__text {
  max-width: 210px;
}
.promo__inner{
	padding: 42px 20px;
}
.promo__btn {
	width: 78px;
	height: 32px;
	font-size: 8px;
	margin-left: 85px;
}
}



@media (max-width: 380px){
	.container{
		max-width: 340px;
	}
	.products .section__inner {
  margin-bottom: 110px;
}
	.top{
		padding: 0;
	}
	.top__content{
		width: 200px;
		padding: 61px 0 50px;
	}
	.top__title{
		font-size: 18px;
	}
	.top__text{
		width: 164px;
	}
	.top__img-l {
		width: 141px;
		height: 218px;
	}
	.top__img{
		left: 195px;
		top: 20px;
	}
	.top__buy{
		font-size: 10px;
	}
	.about__inner{
		padding: 25px 0 40px;
	}
	.about__content{
		min-width: 233px;

	}
	.about__title{
		margin-bottom: 10px;
	}
	.about__text1,.about__text2{
		font-size: 8px;
	}
	.about__list{
		margin: 15px 0 0;
		padding-left: 25px;
	}
	.about__item{
		display: none;
	}
	.about__item:first-child{
		display: block;
	}
	.about__list::before {
		bottom: -27px;
		left: 15px;
	}
	.about__list::after {
		left: 35px;
		bottom: -10px;
	}
	.steps__item-img{
		width: 66px;
		height: 100px;
	}
	.steps__item-text{
		font-size: 6px;
	}
	.steps__item {
		gap: 16px;
	}
	.steps__list {
		gap: 20px 25px;
	}
	.steps__item::before{
font-size: 12px;
}
.product__items, .product__items img{
		max-width: 150px;
	
	}
.course__content {
  display: block;
}
.course .product__items img {
  max-width: 200px;

}
.course .product__items {
  margin-bottom: 30px;
}
.products .section__text {
  max-width: 235px;
 font-size: 8px;
} 
.section__text {
  max-width: 235px;

}
.course .section__text {
  font-size: 10px;
}
.team__content {
  display: block;
}
.team__content-item {
  width: 300px;
  margin-bottom: 20px;
}
.team .team__content-img {
width: 205px;
height: 220px;
}
.team__content-info {
  width: 150px;
  height: 70px;
  bottom: 8px;
}
.team__content-name{
	font-size: 11px;
}
.team__content-text{
	font-size: 10px;
}
.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feedback__item-text {
  max-width: 250px;
}
.feedback__item-img {
  width: 250px;
}
.feedback__item-text {
  margin-bottom: 20px;
}
.feedback__item-btn {
  margin: 0 auto;
}
.feedback__content .swiper-pagination {
  bottom: -5px;
}
.certification__slider {
  max-width: 200px;
}
.form {
max-width: 340px;

}

.form__input{
	padding: 24px 7px;
}

.promo__btn {
	margin-left: 50px;
}
}